<div class="container loginPage">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <div class="container">
              <div class="contents">
                <h1 class="h1 loginPage_contents_title">Cats Matching!</h1>
                <%= image_tag "cat_top.png", class: "img contents_img" %>
                <%= link_to "Login", new_user_session_path, class: "btn contents_btn" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
