.loginPage .panel-default{
  padding: inherit;
  margin-top: 20%;
  margin-bottom: 20%;
}

.loginPage .panel-body{
  padding: 15%;
  margin-bottom: -50%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  color: #666666;
}
.contents {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  &_title {
    margin-top: 12vh;
  }
  &_img {
    position: absolute;
    margin: auto;
    top: 15
    %;
    bottom: 0;
    left: 0;
    right: 0;
    width: 150px;
    height: 150px;
  }
  &_btn {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 80%;
    left: 3%;
    right: 3%;
    font-size: 1rem;
    display: block;
    max-width: 200px;
    padding: 20px;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    border-radius: 30px;
    background: #FFA89A ;
    color: #fff;
  }
}

