.loginPage {
  background-color: #f3c538;
  &_contents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title {
      margin-top: 12vh;
    }
    &_btn {
      display: block;
      max-width: 400px;
      padding: 20px;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 100px;
      margin-left: auto;
      border-radius: 30px;
      background: #E21E0D ;
      color: #fff;
      border-color: #2E2F30;
      border-style: solid;
      border-width: 3px 7px 7px 3px;
    }
  }
}
