.usershowPage .panel-default{
  padding: inherit;
  margin-top: 5%;
  margin-bottom: 20%;
}

.usershowPage .panel-body{
  padding: 15%;
  margin-bottom: -50%;
  background: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.logo {
  & > a {
    width: 40px;
    display: block;
    & > img {
      width: 100%;
    }
  }
}


  .userInfo {
    &_img {
      width: 170px;
      height: 170px;
      margin: 0 auto;
      border-radius: 50%;
      overflow: hidden;
      &>img {
        width: 100%;
      }
    }

    &_name {
      text-align: center;
      margin-top: 30px;
      font-size: 30px;
    }

    &_selfIntroduction {
      margin-top: 30px;
    }
  }

  .userAction {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 20vh auto 0;
    color:#c3c7d0;
    &_common {
      & > a {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        color:#c3c7d0;
        text-decoration: none;
        box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
        transition: color .5s;
        &:hover {
          color:#fd5068;
        }
      }
    }
  }
